.Column {
  width: 270px;
  height: 100%;
  min-height: 100px;
  margin-left: 5px;
  margin-right: 5px;
  padding: 5px;
  background: #ebecf0;
  border-radius: 5px;
}

.ColumnTitle {
  width: 100%;
  height: 100%;
  min-height: 50px;
}
.ColumnTitle:focus {
  outline: 1px solid #40e0d0;
  background: white;
}

/* .ColumnTextarea {
  background: #ebecf0;
  cursor: pointer;
  width: 100%;
  height: 100%;
  border: none;
  font-size: 20px;
  color: black;
  resize: none;
  overflow: hidden;
}
.ColumnTextarea:focus {
  outline: 1px solid #40e0d0;
  background: white;
} */

.Column p {
  width: 100%;
  height: 35px;
  padding-top: 5px;
  cursor: pointer;
  transition: 0.2s all ease-in-out;
  border-radius: 5px;
}

.Column p:hover {
  background: #dcdcdc;
}
